@import './reset';
@import './variables';

* {
  box-sizing: border-box;

  &::before,
  &::after {
    box-sizing: inherit;
  }
} 

#app {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}